@model ManagerModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="row py-3">
            <div class="col-md-4">
                @Html.LabelFor(m => m.RSSlink)
                @Html.TextBoxFor(m => m.RSSlink, new { @class = "form-control" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <input type="submit" value="Dodaj" asp-controller="Home" asp-action="SaveRSS" class="btn btn-success" />
                <input type="submit" value="pobierz RSSy" asp-controller="Home" asp-action="LoadRSS" class="btn btn-primary" />
            </div>
        </div>

        <div class="row py-3" style="min-height: 400px">
            <div class="col-md-6">
                @Html.TextArea("EmailContentTextArea", Model.EmailContent, new { @class = "form-control", @style="height: 100%" })
            </div>

            <div class="col-md-3">
                @Html.ListBoxFor(m => m.SelectedRSSLink, Model.RSSSelectList as SelectList, new { @class = "form-control", @style="height: 100%" })
            </div>

            <div class="col-md-3">
            </div>
        </div>

        <div class="row py-3">
            <div class="col-md-2">
                <input type="submit" value="Send Email" class="btn btn-success" asp-controller="Home" asp-action="SendEmail" />
            </div>

        </div>
    }
</div>
